:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  --webkit-tap-highlight-color: transparent;
  outline: 4px auto -webkit-focus-ring-color;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
canvas{
  width: 100vw!important;
  height: 75vh!important;
}
@keyframes FadeIn{
  0% {
    opacity: 0;
  }50% {
    opacity: 1;
  }100%{
    opacity: 0;
  }
}
.loading-container{
  position: absolute; /* Pour placer le bouton en haut niveau de la page */
  top: 50%; /* Ajuste cette valeur pour positionner le bouton plus bas ou plus haut */
  left: 50%;
  transform: translate(-50%, -50%); /* Pour centrer le bouton horizontalement */
  z-index: 1;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: FadeIn 1.2s forwards;
}
.container-btn {
  position: absolute; /* Pour placer le bouton en haut niveau de la page */
  bottom: 150px; /* Ajuste cette valeur pour positionner le bouton plus bas ou plus haut */
  left: 50%;
  transform: translateX(-50%); /* Pour centrer le bouton horizontalement */
  z-index: 1; /* Pour s'assurer que le bouton est au-dessus du canvas */
  display: flex;
  gap: 0.5rem;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  color: white;
  cursor: pointer;
  z-index: 2; /* S'assurer que le bouton est au-dessus du canvas */
  background: linear-gradient(#4CC9F0, #4361EE, #3A0CA3);
  box-shadow: 0px 0px 43px 16px rgba(0,0,0,0.1);
  --webkit-tap-highlight-color: transparent;
  outline: none; 
}
button:hover{
  opacity: 0.7;
  transition: opacity 0.3s;
}
button:focus{
  outline: none;
  border: none;
}
svg{
  height: 1.5em;
  width: 1.5em;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
@media(max-width: 403px){
  canvas{
    height: 65vh!important;
  }
}
@media(max-width: 350px){
  canvas{
    height: 50vh!important;
  }
}